<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="sidebar">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/news" routerLinkActive="active">News</a>
        <a routerLink="/table" routerLinkActive="active">Table</a>
        <a routerLink="/contact" routerLinkActive="active">Contact-us</a>

      </div>

    </div>
    
  </div>  
    
    
    
    <!-- <div class="sidebar">
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/news" routerLinkActive="active">News</a>
  <a routerLink="/table" routerLinkActive="active">Table</a>
  <a routerLink="/contact" routerLinkActive="active">Contact-us</a>

</div> -->